extends layout

block content
  div.container.mt-2
    header
      h2 Welcome
      p  The Futbol Means API is intended help develop this application to serve sporting eventing information to crazy Soccer parents like me.
    section
      h2 Here is the body
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, repellendus!
    footer
      h2 Here is the footer
      p
        a(href=link) Unsubscribe
