nav.navbar.navbar-dark.bg-primary.navbar-expand
  .container
    a.navbar-brand(href='#') Futbol Means API
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='#')
          span Home
      li.nav-item
        a.nav-link(href='#')
          span Teams
      li.nav-item
        a.nav-link(href='#')
          span Events
      li.nav-item
        a.nav-link(href='#')
          span About
      li.nav-item
        a.nav-link(href='#')
          span Contact
    span.navbar-text
